
.headRow div{
    float: left;
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
  }
  .headRow{ 
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
      padding: 1%;  
      height: 30%;
  }

  .headRow1 div{
    float: left;
    font-weight: bold;
    text-align: center;
  }
  .headRow1{ 
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
      padding: 1%; 
      background-color: rgb(139, 30, 218); 
      color: white;
  }
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 


